@import url(alefhebrew.css);

body {
    font-size: medium;
}

h1, .metadata{
    font-family: "Alef Hebrew";
}

h1 {
    font-size: 1.1em;
}

.metadataContainer {
    font-size: 1em;
}

#screeningContainer {
	direction: rtl;
	
}

.screening {
    border-radius: 30px; 
	margin: 0px 0px 1% 0px;
	padding: 1% 0.5% 1% 0%;
}

.screeningOdd {
    background-color: #fffaf0;
}

.screeningEven {
    background-color: #f0ffff;
}


.movieImage {
    margin: 0px 0px 1%x 0px;
    width:35%;
    height:20%;
}

.movieInfo {
    width: 64%;
    padding: 0px 1% 0px 0px;
    float: left;
}

.metadata {
    width:33%;
    margin: 0 auto;
    float:right;
}

.metadataContainer {
    width:100%;

}

.movieDescription {
    width:100%;
    padding-top:2%;
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.clear { 
    clear: both; 
}