@import url(alefhebrew.css);

body {
    direction: rtl;
    font-size:small;
}

h1, .metadata{
    font-family: "Alef Hebrew";
    margin:0px;
}

h1 {
    font-size: 1.1em;
}

.metadataContainer {
    font-size: 1em;
}

.screening {
    border-radius: 30px; 
	margin: 0px 0px 0% 0px;
	padding: 1% 0.5% 1% 0%;
    max-height:20%;
}

.screeningOdd {
    background-color: #fffaf0;
}

.screeningEven {
    background-color: #f0ffff;
}

.movieImage {
    margin: 0px 0px 1%x 0px;
    width:35%;
    height:20%;
}

.movieInfo {
    width: 64%;
    padding: 0px 1% 0px 0px;
    float: left;
}

.metadata {
    width:33%;
    margin: 0 auto;
    float:right;
}

.metadataContainer {
    width:100%;
}

.movieDescription {
    width:100%;
    text-overflow:clip;
	overflow:auto;
	/*overflow: hidden;*/
}

.clear { 
    clear: both; 
}